<div data-page="courses" class="page" id="courses">
  <div class="navbar bg-ajat">
    <div class="navbar-inner bg-ajat">
      <div class="left"><a href="index.html" class="link icon-only"><i class="icon icon-back"></i></a></div>
      <div class="center">Disciplinas</div>
    </div>
  </div>
  <div class="page-content">
    <div class="content-block-title" v-if="courses.length==0">Não há disciplinas cadastradas.</div>
    <div class="content-block-title" v-if="courses.length>0">Deslize para a esquerda.</div>
    <div class="content-block">
      <div class="list-block">
        
        <ul>
          <li class="swipeout swipeout-courses">
            <div class="swipeout-content item-content">
              <div class="item-media">
                <img src="img/ic_view_list_black_24px.svg">
              </div>
              <div class="item-inner">
                
              </div>
            </div>
            <div class="swipeout-actions-right">
              <!-- Add this button and item will be deleted automatically -->
              <a href="modules/courses/course.show.html?course_id={{course.course_id}}">
                <img src="img/ic_remove_red_eye_black_24px.svg">
              </a>
              <a href="#" class="swipeout-delete" v-on:click="delete(course.course_id)" data-confirm="Deseja excluir {{course.course_name}}?" data-confirm-title="Excluir?" data-close-on-cancel="true">
                <img src="img/ic_delete_black_24px.svg">
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <a href="modules/courses/course.new.html" class="bg-pink floating-button button-big">
      <img src="img/ic_add_white_36px.svg" alt="" class=""/>
    </a>
  </div>
</div>
